[submodule "zuzunza_studio"]
	path = app-studio
	url = https://github.com/zuzunza-com/zuzunza_studio

[submodule "memphis-core-app"]
	path = app
	url = https://github.com/zuzunza-com/memphis-core-app

[submodule "memphis-api"]
	path = zetrafi
	url = https://github.com/zuzunza-com/memphis-api

[submodule "memphis-core-discord"]
	path = app-discord
	url = https://github.com/zuzunza-com/memphis-core-discord

[submodule "memphis-core-serven"]
	path = app-serven
	url = https://github.com/zuzunza-com/memphis-core-serven

[submodule "memphis-core-server"]
	path = app-backend
	url = https://github.com/zuzunza-com/memphis-core-server

[submodule "memphis-core-wiki"]
	path = docs
	url = https://github.com/zuzunza-com/memphis-core-wiki

[submodule "memphis-swifton"]
	path = mkxp-palcon
	url = https://github.com/zuzunza-com/memphis-swifton